# Dependencies
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
**/dist/
build/
**/build/
.output/

# Environment / Secrets
.env
.env.*
!.env.example
*.pem
service-account.json
credentials.json

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project Specific
index.html.bak
functions/lib/
